# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore SQLite database files
*.sqlite3

# Ignore chroma cache
chroma/

# Ignore data files
data/

# Ignore python cache files
__pycache__/